<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <h1>Reset Password</h1>
        <form method="POST">
            <div class="input-box">
                <input type="password" name="password" placeholder="Enter new password" required>
                <box-icon type="solid" name="lock-alt"></box-icon>
            </div>
            <button type="submit" class="btn">Reset Password</button>
        </form>

        <div class="register-link">
            <p>Remembered your password? <a href="{{ url_for('login') }}">Login here</a></p>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </div>
</body>

</html>
